<html>
    <head>
        <title>The bests blogs</title>
    </head>
    <body>
        <div>
            <h1><a href="">Creating my Blogs</a></h1>
        </div>

        <div>
            <p>published: 14.09.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p><em>Borring whit html</em></p>
        </div>

        <div>
            <p>published: 14.09.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p><em>I am still borred</em></p>
        </div>
    </body>
</html>